<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dokument </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- <div class="topbar">
        <nav>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> rickard rulle </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> rickard rulle </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> rickard rulle </a>
            <a href="https://store.steampowered.com"> ånga  </a>
        </nav>
    </div>
     -->
    <div class="topbar">
       <ul>
            <li id="triangle"></li>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="sacrifice"> <li> rickard rulle </li> </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="sacrifice"> <li> rickard rulle </li> </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="sacrifice"> <li> rickard rulle </li> </a>
            <a href="https://store.steampowered.com" class="sacrifice"> <li> ånga </li> </a>
            <li id="triangle2"></li>
            {% if name %}
            <li id="name"> {{ name }} </li>
            {% else %}
            <li id="name"> yooooooooo hacker </li>
            {% endif %}
            <li id="time"> 00:00:00 </li>
           
       </ul>
    </div>

    <div class="mainContent">
        <div class="box">
            <div class="boxcontent">
                snabbvy
            </div>
        </div>
        <div class="box">
            <div class="boxcontent">
                snabbvy
            </div>
        </div>
        <div class="box">
            <div class="boxcontent">
                snabbvy
            </div>
        </div>
        <div class="box">
            <div class="boxcontent">
                snabbvy
            </div>
        </div>
        <div class="box">
            <div class="boxcontent">
                snabbvy
            </div>
        </div>
        <div class="box">
            <div class="boxcontent">
                snabbvy
            </div>
        </div>   
    </div>

    <div id="hiddenArrow">
        <div>
            mer innehåll
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>