<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Schoolsoft fast bra </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<script src="{{ url_for('static', filename='js/index.js') }}" type="module"></script>
</head>

<body>
    <nav class="topbar">
        <ul>
            <li id="triangle" class="narrowGone triangle"></li>
            <a href="/schedule" class="narrowGone">
                <li> Schema </li>
            </a>
            <a href="/news" class="narrowGone">
                <li> Nyheter </li>
            </a>
            <!-- <a href="/assignments" class="narrowGone">  -->
                <li id="navbar-assignments" class="narrowGone dropdown-parent">  
					<a href="/assignments">
						Uppgifter
					</a>           
                    <ul class="dropbar"></ul>
                </li>
            <!-- </a> -->
            <li id="navbar-results" class="narrowGone dropdown-parent"> 
				<a href="/update" class="narrowGone">
				Resultat </a>
				<ul class="dropbar"></ul>
            </li>
            
            <li id="triangle2" class="triangle"></li>
            
            <li id="name"> 
                {% if user %}
                {{ user["firstName"] + " " + user["lastName"] }}
                {% else %}
                yooooooooo hacker
                {% endif %}
                <ul class="dropbar">
                    <a href="/profile">
                        <li>
                            Profil
                        </li>
                    </a>
                    <a href="/logout">
                        <li class="log-out-button">
                            Logga ut
                        </li>
                    </a>
                </ul>
            </li>
            <li id="time" class="narrowGone"> 00:00:00 </li>

        </ul>
    </nav>

    <div class="popup-background animate-in" id="popup">
        <div class="popup-overlay">
            <div class="title-row">
                <h2> 
                    Titel
				</h2>
			</div>
			<div class="subtitle-row">
                <div>
                    <h3>
                        Av: Rektor
                    </h3>
                    <h4>
                        12/12/2012, 13:37
                    </h4>                        
                </div>
            </div>
            
            <p>
            </p>

        </div>
	</div>
	
	<div class="popup-background" id="plan-popup">
		<div class="popup-overlay plan-popup-overlay">
			<div class="title-row">
				<h2> Skapa planering </h2>
			</div>

			<div class="plan-input-section">

				<div class="plan-input-section-row">
					<input name="title" placeholder="Titel" type="text" class="input-title" id="plan-input-title" maxlength="20">
					<div id="plan-title-input-char-counter"> 500 </div>
				</div>
				<div class="plan-input-section-row">

					<!-- <input name="content" placeholder="Kommentar" type="text" class="input-content"> -->
					<textarea class="input-content" placeholder="Kommentar" id="plan-input-content" maxlength="500"></textarea>
					<div id="plan-content-input-char-counter"> 500 </div>
				</div>

			</div>
			<div class="plan-input-submit">
				<button id="plan-input-submit-button"> Spara </button>
				<button id="plan-input-delete-button"> Ta bort </button>
			</div>
			<div class="plan-input-delete">
			</div>

		</div>
	</div>

    <main>
        <section class="boxcontainer">
            <div class="box" id="schedule">
                <h2>
                    Schema
                </h2>
                <div class="boxcontent schema">
					<h3> Nästa lektion </h3>
					<div class="scheduleHolder">

					</div>

					<h3> Följande lektioner </h3>
					<div class="scheduleHolder">

					</div>
                    
                </div>
            </div>
		</section>
		
        <section class="boxcontainer">
            <div class="box" id="news">
                <h2 class="boxtitle">
                    Nyheter
                </h2>
                <div class="boxcontent">

                </div>
                <!-- <div class="box-bottom">
                    <a href="" >
                        <div>
                            Visa fler
                        </div>
                    </a>
                </div> -->
            </div>
        </section>

        <section class="boxcontainer">
            <div class="box" id="plans">
                <h2 class="boxtitle">
                    Planeringar
                </h2>
                <div class="boxcontent">
					<button id="open-create-plan-button"> Skapa ny planering </button>
                </div>
            </div>
        </section>  

        <section class="boxcontainer">
            <div class="box" id="assignments">
                <h2>
                    Uppgifter
                </h2>
                <div class="boxcontent schema">
					<h3> Den här veckan </h3>
					<div class="assignment-wrapper"></div>

					<h3> Uppkommande </h3>
					<div class="assignment-wrapper"></div>

                </div>
            </div>
        </section>

        <section class="boxcontainer">
            <div class="box" id="exams">
                <h2 class="boxtitle">
                    Prov
                </h2>
                <div class="boxcontent schema">
						
						<h3> Den här veckan </h3>
						<div class="assignment-wrapper"> </div>

					<h3> Uppkommande </h3>
					<div class="assignment-wrapper"> </div>
                </div>
            </div>
        </section>
        <section class="boxcontainer">
            <div class="box" id="results">
                <h2 class="boxtitle">
                    Resultat
                </h2>
                <div class="boxcontent">

                </div>
            </div>
        </section>
        
    </main>

    <!-- <div id="hiddenArrow">
        <div>
            mer innehåll
        </div>
    </div> -->

    
</body>

</html>