<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dokument </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav class="topbar">
        <ul>
            <li id="triangle" class="narrowGone triangle"></li>
            <a href="/schedule" class="narrowGone">
                <li> Schema </li>
            </a>
            <a href="/news" class="narrowGone">
                <li> Nyheter </li>
            </a>
            <!-- <a href="/assignments" class="narrowGone">  -->
                <li id="navbar-assignments" class="narrowGone dropdown-parent">  
					<a href="/assignments">
						Uppgifter
					</a>           
                    <ul class="dropbar"></ul>
                </li>
            <!-- </a> -->
            <li id="navbar-results" class="narrowGone dropdown-parent"> 
				<a href="https://store.steampowered.com" class="narrowGone">
				Resultat </a>
				<ul class="dropbar"></ul>
            </li>
            
            <li id="triangle2" class="triangle"></li>
            
            <li id="name"> 
                {% if user %}
                {{ user["firstName"] + " " + user["lastName"] }}
                {% else %}
                yooooooooo hacker
                {% endif %}
                <ul class="dropbar">
                    <a href="/profile">
                        <li>
                            Profil
                        </li>
                    </a>
                    <a href="/logout">
                        <li class="log-out-button">
                            Logga ut
                        </li>
                    </a>
                </ul>
            </li>
            <li id="time" class="narrowGone"> 00:00:00 </li>

        </ul>
    </nav>

    <div class="popup-background" id="popup">
        <div class="popup-overlay">
            <div class="title-row">
                <h2> 
                    Titel
                </h2>
                <div>
                    <h3>
                        Av: Rektor
                    </h3>
                    <h4>
                        12/12/2012, 13:37
                    </h4>                        
                </div>
            </div>
            
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat eaque aspernatur perferendis rerum odio ducimus doloremque atque eveniet adipisci eos vero, accusamus explicabo quia sit quae itaque quod voluptas at error architecto nobis, dolorem distinctio? Eligendi saepe alias reprehenderit illo consequatur repudiandae corporis deleniti blanditiis, beatae, tempora fugiat hic exercitationem in praesentium! Rem dignissimos voluptatibus nesciunt error ducimus similique minima, rerum possimus vitae doloremque, iusto eius accusamus illo minus eos? Soluta saepe facilis minus aspernatur, distinctio aperiam aliquid minima sed asperiores dignissimos fugiat quam corrupti molestiae natus voluptas animi vitae laborum, praesentium tempore, fuga debitis? Voluptatibus animi rem nisi dolor!
            </p>

        </div>
    </div>

    <main>
        <section class="boxcontainer">
            <div class="box">
                <h2>
                    Schema
                </h2>
                <div class="boxcontent schema">
                    <table class="newstable">
                        <h3> Nästa lektion </h3>
                        <tr>
                            <th>
                                Svenska 3
                            </th>
                            <td>
                                <div>
                                    Sal 14 Litet 
                                </div>
                                <div>
                                    12:00-13:25
                                </div>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </table>

                    <h3> Följande lektioner </h3>
                    <table class="newstable">
                        <tr>
                            <th>
                                Nyhetstitel
                            </th>
                            <td>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, nisi!
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
        <section class="boxcontainer">
            <div class="box" id="news">
                <h2 class="boxtitle">
                    Nyheter
                </h2>
                <div class="boxcontent">

                </div>
                <!-- <div class="box-bottom">
                    <a href="" >
                        <div>
                            Visa fler
                        </div>
                    </a>
                </div> -->
            </div>
        </section>

        <section class="boxcontainer">
            <div class="box">
                <h2 class="boxtitle">
                    Planeringar
                </h2>
                <div class="boxcontent">

                </div>
            </div>
        </section>  

        <section class="boxcontainer">
            <div class="box">
                <h2>
                    Uppgifter
                </h2>
                <div class="boxcontent schema">
                    <table class="newstable">
                        <h3> Den här veckan </h3>
                        <tr>
                            <th>
                                Uppgift: Inloggning
                            </th>
                            <td>
                                <div>
                                    Webbserverprogrammering 1
                                </div>
                                <div>
                                    23/10/2020
                                </div>
                            </td>

                            <td>
                                <div>
                                    Inlämningsuppgift
                                </div>
                            </td>
                        </tr>
                    </table>

                    <h3> Uppkommande </h3>
                    <table class="newstable">
                        <tr>
                            <th>
                                Nyhetstitel
                            </th>
                            <td>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, nisi!
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>

        <section class="boxcontainer">
            <div class="box">
                <h2 class="boxtitle">
                    Prov
                </h2>
                <div class="boxcontent schema">
                    <table class="newstable">
                        <h3> Den här veckan </h3>
                        <tr>
                            <th>
                                Prov - Kapitel 3 och 4
                            </th>
                            <td>
                                <div>
                                    Fysik 2
                                </div>
                                <div>
                                    23/10/2020
                                </div>
                            </td>

                            <td>
                                <div>
                                    Prov
                                </div>
                            </td>
                        </tr>
                    </table>

                    <h3> Uppkommande </h3>
                    <table class="newstable">
                        <tr>
                            <th>
                                Kapitel 5 och 6
                            </th>
                            <td>
                               <div>
                                    Fysik 2
                               </div> 
                               <div>
                                    24/12/2020
                               </div>
                            </td>
                            <td>
                                <div>
                                    Prov
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
        <section class="boxcontainer">
            <div class="box">
                <h2 class="boxtitle">
                    Resultat
                </h2>
                <div class="boxcontent">
                    <table class="newstable">
                        <tr>
                            <th>
                                Prov kapitel 1 och 2
                            </th>
                            <td>
                                <div>
                                    Fysik 2

                                </div>
                                <div>
                                    01/11/2020
                                </div>
                            </td>

                            <td>
                                <div>
                                    Prov
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </section>
        
    </main>

    <!-- <div id="hiddenArrow">
        <div>
            mer innehåll
        </div>
    </div> -->

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>