body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#8fd1f1), to(#63a9ee));
  background-image: linear-gradient(to top left, #8fd1f1, #63a9ee);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.topbar {
  height: 4em;
  position: absolute;
  right: 0;
}

.topbar ul {
  display: block;
}

.topbar ul li {
  background-color: #F8F8F8;
  padding: 1.5em 0;
  height: 3rem;
  float: left;
  height: 1em;
  min-width: 12ch;
  text-align: center;
}

.topbar ul li:hover {
  background-color: #ebebeb;
}

.topbar ul li.triangle {
  position: relative;
  background-color: transparent;
  padding: 0;
  width: 0;
  height: 0;
  min-width: 0;
}

.topbar ul li ul.dropbar {
  position: relative;
  top: 20px;
  left: 0%;
  width: 100%;
  display: none;
  z-index: 10;
}

.topbar ul li ul.dropbar a {
  margin-top: 0.5rem;
}

.topbar ul li ul.dropbar a li {
  position: relative;
  margin: 0 -0.25rem;
  z-index: 10;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
          box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  padding: 1rem 0.25rem;
  opacity: 0;
}

.topbar ul li ul.dropbar a li.log-out-button {
  background-color: red;
}

.topbar ul li:hover ul.dropbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.topbar ul li:hover ul.dropbar a:hover li {
  -webkit-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
  background-color: #dfdfdf;
}

.topbar ul li:hover ul.dropbar a:hover li.log-out-button {
  background-color: #880000;
}

.topbar ul li:hover ul.dropbar a:nth-child(1) li {
  -webkit-animation-name: dropdown-menu-fade-in;
          animation-name: dropdown-menu-fade-in;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
          animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

.topbar ul li:hover ul.dropbar a:nth-child(2) li {
  -webkit-animation-name: dropdown-menu-fade-in;
          animation-name: dropdown-menu-fade-in;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
          animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.topbar ul li:hover ul.dropbar a:nth-child(3) li {
  -webkit-animation-name: dropdown-menu-fade-in;
          animation-name: dropdown-menu-fade-in;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
          animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.topbar ul li:hover ul.dropbar a:nth-child(4) li {
  -webkit-animation-name: dropdown-menu-fade-in;
          animation-name: dropdown-menu-fade-in;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
          animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

.topbar ul li:hover ul.dropbar a:nth-child(5) li {
  -webkit-animation-name: dropdown-menu-fade-in;
          animation-name: dropdown-menu-fade-in;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
          animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.topbar ul li:hover ul.dropbar a:nth-child(6) li {
  -webkit-animation-name: dropdown-menu-fade-in;
          animation-name: dropdown-menu-fade-in;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
          animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.topbar ul li:hover ul.dropbar a:nth-child(7) li {
  -webkit-animation-name: dropdown-menu-fade-in;
          animation-name: dropdown-menu-fade-in;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
          animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.topbar ul li:hover ul.dropbar a:nth-child(8) li {
  -webkit-animation-name: dropdown-menu-fade-in;
          animation-name: dropdown-menu-fade-in;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
          animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}

.topbar ul li:hover ul.dropbar a:nth-child(9) li {
  -webkit-animation-name: dropdown-menu-fade-in;
          animation-name: dropdown-menu-fade-in;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
          animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.topbar ul li:hover ul.dropbar a:nth-child(10) li {
  -webkit-animation-name: dropdown-menu-fade-in;
          animation-name: dropdown-menu-fade-in;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
          animation-timing-function: cubic-bezier(0.2, 0.9, 0.5, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1350ms;
          animation-delay: 1350ms;
}

li.tooltip-parent span.tooltip {
  opacity: 0;
}

@-webkit-keyframes dropdown-menu-fade-in {
  0% {
    -webkit-transform: translate(0, -1.5rem);
            transform: translate(0, -1.5rem);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dropdown-menu-fade-in {
  0% {
    -webkit-transform: translate(0, -1.5rem);
            transform: translate(0, -1.5rem);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a:visited, a:hover, a:active, a {
  text-decoration: none;
  color: inherit;
}

#triangle {
  position: relative;
  background-color: transparent;
  padding: 0;
  width: 0;
  height: 0;
  border-right: 4em solid #F8F8F8;
  border-bottom: 4em solid transparent;
}

#triangle2 {
  position: relative;
  background-color: transparent;
  padding: 0;
  width: 0;
  height: 0;
  border-right: 4em solid #ebebeb;
  border-bottom: 4em solid #F8F8F8;
}

#time, #name {
  background-color: #ebebeb;
}

/*
nav a:hover {
    background-color: #DD0000;
} */
main {
  padding-top: 3.5rem;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.boxcontainer {
  margin: 28px 0;
  min-height: 250px;
}

.box {
  display: block;
  height: calc(50vh - 8 * 14px);
  background-color: #FFFFFF;
  width: calc(100% - 6 * 14px);
  max-width: 325px;
  padding: 14px;
  border-radius: 21px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  min-height: 250px;
}

.box h2 {
  text-align: center;
  font-size: 1.25rem;
}

.boxcontent {
  width: 100%;
  height: calc(100% - 2rem);
  margin: 1rem 0 0;
  margin-top: 0.5rem;
  overflow: auto;
}

.boxcontent.schema h3 {
  margin-top: 10px;
  font-size: 1rem;
  padding-left: 5px;
  padding-bottom: 3px;
}

.boxcontent.schema h3:first-child {
  margin-top: 3px;
}

table.newstable {
  width: 100%;
  margin-top: 0.2rem;
}

table.newstable tbody {
  width: 100%;
}

table.newstable tbody tr {
  width: 100%;
}

table.newstable tbody tr th, table.newstable tbody tr td {
  display: block;
  text-align: left;
  padding: 0 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: calc(100% - 0.5rem);
}

table.newstable tbody tr th {
  font-weight: bold;
  padding-bottom: 2px;
  font-size: 1.1em;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 0.1rem;
}

table.newstable tbody tr td {
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

table.newstable tbody tr td:last-child {
  padding-bottom: 0.2rem;
}

table.newstable tbody tr td:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

table.newstable tbody tr td:not(:last-child) {
  border-bottom: none;
}

table.newstable tbody tr:nth-child(2n) th, table.newstable tbody tr:nth-child(2n) td {
  background-color: #F0F0F0;
}

table.newstable tbody tr:nth-child(2n + 1) th, table.newstable tbody tr:nth-child(2n + 1) td {
  background-color: #FBFBFB;
}

.box-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  position: relative;
  bottom: .9rem;
}

.box-bottom a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  padding: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: 1rem;
  color: #6464c8;
}

.newstable:hover {
  cursor: pointer;
}

div.newslist div, div.assignment-list div {
  margin: 0.5rem 1rem;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 6px;
  /*
        &:nth-child(2n +1) {
            background-color: #FDFDFD;
        }

        &:nth-child(2n) {
        background-color: #F8F8F8;
        } */
}

div.newslist div div, div.assignment-list div div {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
  border-radius: 0;
  padding: 0;
}

div.newslist div div.list-item-content div.list-item-content-row, div.assignment-list div div.list-item-content div.list-item-content-row {
  padding-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.newslist div h4, div.assignment-list div h4 {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 3px;
}

div.newslist div p, div.assignment-list div p {
  font-size: 0.85rem;
}

div.uppgifter h3 {
  padding-left: 1.25rem;
  font-size: 1rem;
}

#plans .boxcontent button {
  width: 100%;
  height: 2rem;
  background-color: #F8F8F8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  -webkit-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
  margin-bottom: 10px;
  z-index: 100;
}

#plans .boxcontent button:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}

.plan-popup-overlay {
  position: absolute;
}

.plan-popup-overlay .title-row {
  margin-bottom: 1rem;
}

.plan-popup-overlay .plan-input-section .plan-input-section-row {
  display: block;
}

.plan-popup-overlay .plan-input-section .plan-input-section-row input, .plan-popup-overlay .plan-input-section .plan-input-section-row textarea {
  display: inline-block;
  padding: 0.5rem;
  margin: 5px;
  border: solid 1px gray;
  border-radius: 3px;
  resize: none;
}

.plan-popup-overlay .plan-input-section .plan-input-section-row input.input-title, .plan-popup-overlay .plan-input-section .plan-input-section-row textarea.input-title {
  min-width: 30ch;
}

.plan-popup-overlay .plan-input-section .plan-input-section-row input.input-content, .plan-popup-overlay .plan-input-section .plan-input-section-row textarea.input-content {
  width: calc(100% - 1rem - 10px);
  font-family: Arial;
  height: 250px;
}

.plan-popup-overlay .plan-input-section .plan-input-section-row div {
  display: inline-block;
}

.plan-popup-overlay .plan-input-submit {
  position: absolute;
  bottom: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: calc(100% - 1rem - 10px);
}

.plan-popup-overlay .plan-input-submit button {
  margin: 1rem;
  padding: 0.5rem;
  width: 5vw;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.plan-popup-overlay .plan-input-submit button#plan-input-delete-button {
  background-color: #BB0000;
}

.plan-popup-overlay .plan-input-submit button#plan-input-delete-button:hover {
  -webkit-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
  background-color: #880000;
}

.plan-popup-overlay .plan-input-submit button#plan-input-submit-button {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#264250), to(#1db34a));
  background-image: linear-gradient(to top left, #264250, #1db34a);
}

.plan-popup-overlay .plan-input-delete {
  position: absolute;
  bottom: 0;
  width: calc(100% - 1rem - 10px);
}

.plan-popup-overlay .plan-input-delete button {
  margin: 1rem;
  padding: 0.5rem;
  width: 5vw;
  border: none;
  background-color: red;
  cursor: pointer;
  float: right;
}

input.invalid-input, textarea.invalid-input {
  border-color: red !important;
}

.red-text {
  color: red !important;
}

#hiddenArrow {
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #636167;
  border-radius: 4px;
  display: none;
}

div.popup-background {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

div.popup-background.visible {
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.popup-background.visible div.popup-overlay {
  margin-top: 50px;
  padding: 14px;
  border-radius: 1.5rem;
  width: 35%;
  height: 80vh;
  background-color: white;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

div.popup-background.visible div.popup-overlay .title-row {
  text-align: center;
}

div.popup-background.visible div.popup-overlay h2 {
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 2rem;
}

div.popup-background.visible div.popup-overlay h3, div.popup-background.visible div.popup-overlay h4 {
  font-size: 0.8rem;
}

div.popup-background.visible div.popup-overlay p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

@media (max-width: 1000px) {
  main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #hiddenArrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .topbar ul li.narrowGone, .narrowGone {
    display: none;
  }
  .topbar ul #time {
    display: inline;
  }
  #triangle2 {
    border-bottom: 4em solid transparent;
  }
}

@media (max-width: 1000px) and (min-height: 750px) {
  body {
    font-size: 18px;
  }
}

@media (max-width: 750px) {
  main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  nav a {
    padding: 2em 1em;
  }
  .topbar ul #time {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */