// $background-gradient: linear-gradient(to bottom right, #E0E0E0, #F8F8F8);
// $background-gradient: linear-gradient(to top left, #BBDDEE, #BBDDFF);
// $background-gradient: linear-gradient(to top left, #8fd1f1, #63a9ee);
// $background-gradient: linear-gradient(to top left, #303131, #383939);
$background-gradient: linear-gradient(to top left, #202121, #282929);

$navbar-color: #404141; //#D0D0D0

$box-color: #2B2B2B; //#BBDDFF

$red-button: #BB0000;

$table-color: #383838;

$fs: 14px; //standard font size

// $font-family: Verdana, Geneva, Tahoma, sans-serif;
$font-family: Verdana;

$text-color: #D0D0D0;

$darken-amount: 3;

html {
	color: $text-color;
}

body {
	background-color: #202121;
    font-family: $font-family;
    font-size: 14px;
    background-image: $background-gradient;

    height: 100%;
    width: 100%;
    overflow-x: hidden;
}




// NAVBAR
.topbar {
    // width: fit-content;
    height: 4em;
    position: absolute;
    right: 0;

    ul {
        // position: absolute;
        // margin-top: 1.5em;
        // top: 1.5em;
        // float: right;
        // right: 0;
        display: block;


        li {
			display: inline;
			position: relative;
			// top: 1.5em;
            background-color: $navbar-color;
            padding: 1.5em 0;
            height: 1em;

            float: left;


            // height: 1em;
            &:hover {
                background-color: darken($navbar-color, $darken-amount);
				
			}
			
			// &.dropdown-parent:hover {
			// 	cursor: pointer;
			// }

			min-width: 12ch;
			text-align: center;

            // &.dropdown-parent {
			// 	min-width: 7ch;
			// 	text-align: center;
			// }
			
			// &#name {
			// 	// min-width: 12ch;
			// }

            // &#time {
            //     // padding-left: 0;
            // }

            &.triangle {
				position: relative;
				background-color: transparent;
				padding: 0;
				// top: -2.5em;
				width: 0;
				height: 0;
                min-width: 0;
				// top: -1em;
            }

            ul.dropbar {
                position: relative;
                top: 20px;
                left: 0%;
                width: 100%;
				display: none;   
				z-index: 10;

				

                a  {
					margin-top: 0.5rem;
					// position: inherit;
					// position: absolute;
					// padding: 50px;
					// padding-top: 50px;
					&:hover {
						cursor: pointer;
					}

                    li {
						position: relative;
						// width: 10ch;
                        margin: 0 -0.25rem;
						z-index: 10;
                        background-color: darken($navbar-color, $darken-amount);
                        border-radius: 0.5rem;
                        box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
						padding: 1rem 0.25rem;
						
						opacity: 0;
						// transform: translate(0, 0);

						
                        // padding-left: 0.5rem;
						// padding-right: 0.5rem;
						// overflow: hidden;
                        &.log-out-button {
							background-color: $red-button;
							// font-weight: bold;
                            // &:hover {
                            //     transition: background-color 100ms ease-in-out;
							// 	background-color: darken(rgb(255, 0, 0), $darken-amount);
							// 	background-color: black;
                            // }
                        }
                    }
                }
			}
			
			&:hover ul.dropbar {

				display: grid;
								
				grid-template-columns: 1fr; // fråga jens om det här
				// background-color: black;

				a {
					&:hover li {
						transition: background-color 100ms ease-in-out;

						background-color: darken($navbar-color, 2 * $darken-amount);
						&.log-out-button {
							background-color: darken($red-button, 10);
						}
					}
				}

				@for $i from 1 through 10 {
					a:nth-child(#{$i}) {
						// top: ($i - 1) * 55px + 5px;
						li {
							animation-name: dropdown-menu-fade-in;
							animation-duration: 300ms;
							animation-timing-function: cubic-bezier(0.2, 0.9, 0.5   , 1);
							animation-fill-mode: forwards;
							animation-delay: 150ms * ($i - 1);
							// top: ($i -1) * 0px; -- fixa så att den inte gör display grid här
							
							
							// transition: transform 300ms cubic-bezier(0.2, 0.9, 0.5, 1) (150ms * ($i - 1)), 
							// opacity 300ms cubic-bezier(0.2, 0.9, 0.5, 1) (150ms * ($i - 1)),
							// background-color 300ms cubic-bezier(0.2, 0.9, 0.5, 1) (150ms * ($i - 1));
							
							// transform: translate(0, 1.5rem);		
							// opacity: 1;
							// background-color: hotpink;
						}
					}
				}
			}
        }
    }
}

#time, #name {
    background-color: darken($navbar-color, $darken-amount);
}

#triangle {
    position: relative;
    background-color: transparent;
    padding: 0;
    // top: -2.5em;
    width: 0;
    height: 0;
    border-right: 4em solid $navbar-color;
    border-bottom: 4em solid transparent;
}

#triangle2 {
    position: relative;
    background-color: transparent;
    padding: 0;
    // top: -2.5em;
    width: 0;
    height: 0;
    border-right: 4em solid darken($navbar-color, $darken-amount);
    border-bottom: 4em solid $navbar-color;
}



// TOOLTIP - OANVÄND
li.tooltip-parent  {
	span.tooltip {
		opacity: 0;
	}
}

@keyframes dropdown-menu-fade-in {
    0% {
        transform: translate(0, -1.5rem);
		opacity: 0;
		// display: grid;
    }
    100% {
		opacity: 1;
		// display: grid;
		
    }
}



a:visited, a:hover, a:active, a{
    text-decoration: none;
    color: inherit;
}





/*
nav a:hover {
    background-color: #DD0000;
} */

main {
    padding-top: 3.5rem;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    section {
        display: flex;
        justify-content: space-around;
    }
}

.boxcontainer {
    margin: 28px 0;
    min-height: 250px;
}

.box {
    display: block;
    height: calc(50vh - 8 * 14px);
    // background-color: rgb(40, 40, 220);
    // background-color: rgb(200, 200, 200);
    background-color: $box-color;
    width: calc(100% - 6 * 14px);
    max-width: 325px;
    padding: 14px;
    border-radius: 1.5 * 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    min-height: 250px;

    h2 {
        text-align: center;
        font-size: 1.25rem;
    }
}

.boxcontent {
    width: 100%;
    height: calc(100% - 2rem);
    margin: 1rem 0 0;
    margin-top: 0.5rem;
    overflow: auto;
    // border-top: 1px solid rgba(0, 0, 0, 0.5);
	overflow: hidden;
    &.schema {
        h3 {
            margin-top: 10px;
            font-size: 1rem;
            padding-left: 5px;
            padding-bottom: 3px;

            &:first-child {
                margin-top: 3px;
            }
			border-bottom: 1px solid #404040;
        }
    }
}

table.newstable {
    width: 100%;
    // margin-top: 0.3rem;
	margin-top: 6px;
	color: #A0A0A0;
	// color: white;

	// animation så det ser typ nice ut
	animation-name: pop-in;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-duration: 500ms;

    tbody {
        width: 100%;

        tr {
            width: 100%;

            th, td {
                display: block;
                text-align: left;
                // background: black;
                padding: 0.1rem 0.2rem;
                border: 1px solid rgba(80, 80, 80, 0.5);
                width: calc(100% - 0.5rem);
            }

            th {
                font-weight: bold;
                padding-bottom: 4px;
                font-size: 0.9rem;
                border-bottom: none;
                border-top-left-radius: 4px;
				border-top-right-radius: 4px;
				padding-top: 0.1rem;
				color: white;
            }

            td {
				border-top: none;
				&:last-child {
					padding-bottom: 0.2rem;
				}
                // border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                // margin-bottom: 0.2rem;

                &:last-child {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                }

                &:not(:last-child) {
                    border-bottom: none;
                }

                display: flex;
                justify-content: space-between;
            }

            // &:nth-child(2n) {
            //     th, td {
            //         // background-color: #F0F0F0;
            //         background-color: #404040;

            //     }
            // }

            
			th, td {
				// background-color: #F8F8F8;
				// background-color: #383838;
				background-color: $table-color;
				transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
				// background-color: #FBFBFB;

			}

			&:hover {
				th, td {
					background-color: darken($table-color, $darken-amount);
					color: white;
				}
			}
		

        }

        // &:first-child :first-child {
        //     border-top: 1px solid rgba(0, 0, 0, 0.5);
        //     padding-top: 0.2rem;
        // }

    }
}

@keyframes pop-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.box-bottom {
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: relative;
    bottom: .9rem;
    a {
        width: fit-content;
        background-color: white;
        padding: 0.5rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        font-size: 1rem;
        color: rgb(100, 100, 200);


    }
}

.newstable:hover {
    cursor: pointer;
}

div.newslist, div.assignment-list {
    div {
        margin: 0.5rem 1rem;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        padding: 6px;
        div {
            box-shadow: none;
            margin: 0;
            border-radius: 0;
            padding: 0;
        }

        div.list-item-content {
            div.list-item-content-row {
                padding-top: 4px;
                display: flex;
                justify-content: space-between;
            }
        }

       /*
        &:nth-child(2n +1) {
            background-color: #FDFDFD;
        }

        &:nth-child(2n) {
        background-color: #F8F8F8;
        } */
        h4 {
            font-size: 1rem;
            font-weight: bold;
            padding-bottom: 3px;
        }

        p {
            font-size: 0.85rem;
        }
    }
}

div.uppgifter {
    h3 {
        padding-left: 1.25rem;
        font-size: 1rem;

    }
}

#plans .boxcontent button {
	width: 100%;
	height: 2rem;
	// background-color: #F8F8F8;
	background-color: #484848;
	// border-width: 1px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	transition: background-color 100ms ease-in-out;
	margin-bottom: 10px;
	z-index: 100;
	color: $text-color;

	&:hover {
		background-color: #505050;
		cursor: pointer;

	}
}



.plan-popup-overlay {
	position: absolute;

	.title-row {
		margin-bottom: 1rem;
	}
	.plan-input-section {
		.plan-input-section-row {
			display: block;

			input, textarea {
				display: inline-block;
				padding: 0.5rem;
				margin: 5px;

				border: solid 1px rgba(0, 0, 0, 0.5);
				border-radius: 3px;

				resize: none;

				&.input-title {
					min-width: 30ch;
				}

				&.input-content {
					width: calc(100% - 1rem - 10px);
					font-family: Arial;

					height: 250px;
				}	

				background-color: #404040;
				color: #D0D0D0;


				outline: none;
				
			}

			div {
				display: inline-block;
			}
		}
	}

	.plan-input-submit {
		position: absolute;
		bottom: 0;
		text-align: center;
		display: flex;
		justify-content: space-around;
		width: calc(100% - 1rem - 10px);
		button {
			margin: 1rem;
			padding: 0.5rem;
			width: 5vw;
			border: none;
			cursor: pointer;

			border-radius: 0.5rem;
			font-size: 1rem;

			&#plan-input-delete-button {
				background-color: $red-button;
				&:hover {
					transition: background-color 100ms ease-in-out;
					background-color: darken($red-button, 10);
				}
			}

			&#plan-input-submit-button {
				background-image: linear-gradient(to top left, #264250, #1db34a);
				&:hover {
					transition: box-shadow 100ms ease-in-out;
					box-shadow: inset -10px -10000px rgba(0, 0, 0, 0.1);
				}
			}
		}
	}

	.plan-input-delete {
		position: absolute;
		bottom: 0;
		// text-align: right;
		// display: flex;
		// justify-content: space-around;

		width: calc(100% - 1rem - 10px);

		button {
			margin: 1rem;
			padding: 0.5rem;
			width: 5vw;
			border: none;
			background-color: red;
			cursor: pointer;
			float: right;
		}
	}
}

button {
	outline: none;
}

input.invalid-input, textarea.invalid-input {
	border-color: red !important; // quick and dirty fix liksom
}

.red-text {
	color: red !important;
}

#hiddenArrow {
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    justify-content: center;
    align-content: center;
    background-color: #636167;
    border-radius: 4px;

    display: none;
}

div.popup-background {
    display: none;
	// background-color: black;
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 1000;
	overflow: hidden;
	
    &.visible{
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: space-around;
        div.popup-overlay {
            margin-top: 50px;
            padding: 14px;
            border-radius: 1.5rem;
            width: 700px;
            height: 80vh;
			background-color: #303030;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            .title-row {
				text-align: center;
                // display: grid;
                // grid-template-columns: 1fr 1fr;
                // div h3, div h4 {
                //     text-align: right;
				// }
				position: relative;
				h2 {
					font-weight: bold;
					padding-bottom: 5px;
					font-size: 2rem;
				}
				
				.popupCloseButton {
					position: absolute;
					right: 0;
					top: 0;
					// background-color: blue;

					background-image: url("../img/WhiteCross.png");
					background-color: transparent;
					transition: background-color 100ms linear;
					border-radius: 10px;
					height: 48px;
					width: 48px;
					background-size: 100%;
					// display: block;
					z-index: 10000000000;
					cursor: pointer;

					&:hover {
						background-color: red;
					}
				}
			}
			

			.subtitle-row {
				display: grid;
				grid-template-columns: 1fr 1fr;
				.publish-info {
					
					h3, h4 {
						font-size: 0.8rem;
					}
				}

				.grade-area {
					text-align: right;
					h3 {
						font-size: 1.25rem
					}
				}

			}

			
            p {
				margin-top: 0.5rem;
                font-size: 1rem;
			}
			h3 {
				margin-top: 0.5rem;
			}
        }
    }

	&.animate-in {
		animation: fade-in 250ms linear 0ms 1;
		.popup-overlay {
			animation: popup-animation 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms 1;
		}
	}

	&.animate-out {
		animation: fade-in 250ms linear 250ms 1 reverse forwards;
		.popup-overlay {
			animation: popup-animation 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms 1 reverse forwards;
		}
	}
	
}

@keyframes popup-animation {
	0% {
		transform: translate(0, 100vh);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}


@media (max-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    #hiddenArrow {
        display: flex;
    }

    .topbar ul li.narrowGone, .narrowGone {
        display: none;
    }

    .topbar ul #time {
        display: inline;
    }

    #triangle2 {
        border-bottom: 4em solid transparent;
    }

    @media (min-height: 750px) {
        body {
            font-size: 18px;
        }
    }
}

@media (max-width: 750px) {
    main {
        grid-template-columns: 1fr;
    }


}

@media (max-width: 600px) {
    nav a {
        padding: 2em 1em;
    }

    .topbar ul #time {
        display: none;
    }
}

@media (min-width: 1921px) {
	@media (min-height: 1080px) {
		
		html {
			font-size: 1.5rem;
		}
		main {
			width: 1920px;
			margin: auto;
		}
		.box  {
			max-width: 500px;
		}
		// .topbar {
		// 	// height: 4.5rem;
		// 	ul li, ul a li {
		// 		font-size: 1rem;
		// 	}
		// }
	}

}

