// $background-gradient: linear-gradient(to bottom right, #E0E0E0, #F8F8F8);
// $background-gradient: linear-gradient(to top left, #BBDDEE, #BBDDFF);
$background-gradient: linear-gradient(to top left, #8fd1f1, #63a9ee);

$navbar-color: #F8F8F8; //#D0D0D0

$box-color: #FFFFFF; //#BBDDFF

$fs: 14px; //standard font size

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-image: $background-gradient;

    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.topbar {
    // width: fit-content;
    height: 4em;
    position: absolute;
    right: 0;

    ul {
        // position: absolute;
        // margin-top: 1.5em;
        // top: 1.5em;
        // float: right;
        // right: 0;
        display: block;


        li {
            background-color: $navbar-color;
            padding: 1.5em;
            float: left;

            height: 1em;

            &.triangle {
                position: relative;
                background-color: transparent;
                padding: 0;
                // top: -2.5em;
                width: 0;
                height: 0;
            }

            &:hover ul.dropbar{
                display: grid;
                grid-template-columns: 1fr;

                li {
                    opacity: 0;
                    z-index: -100;
                }

                @for $i from 1 through 6 {
                    a:nth-child(#{$i}) li {
                        animation-name: dropdown-menu-fade-in;
                        animation-duration: 350ms;
                        animation-timing-function: cubic-bezier(0.2, 0.9, 0.5   , 1);
                        animation-fill-mode: forwards;
                        animation-delay: 200ms * ($i - 1);
                    }
                }

                li:hover {
                    background-color: darken($navbar-color, 10);
                }

                a:last-child li {
                    border-radius: 0 0 5px 5px;
                }
            }
            
            ul.dropbar {
                position: relative;
                top: 20px;
                left: 0%;
                width: 100%;
                display: none;                    

                li {
                    background-color: darken($navbar-color, 5);
                    // display: none;
                    // width: 100%;
                }

                a li {
                    width: calc(100% - 54px);
                }
            }

        }
    }


    a:hover li {
        transition: background-color 100ms ease-in-out;
        background-color: darken($navbar-color, 10);
    }
}

@keyframes dropdown-menu-fade-in {
    0% {
        transform: translate(-5rem, 0);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

a:visited, a:hover, a:active, a{
    text-decoration: none;
    color: inherit;
}

#triangle {
    position: relative;
    background-color: transparent;
    padding: 0;
    // top: -2.5em;
    width: 0;
    height: 0;
    border-right: 4em solid $navbar-color;
    border-bottom: 4em solid transparent;
}

#triangle2 {
    position: relative;
    background-color: transparent;
    padding: 0;
    // top: -2.5em;
    width: 0;
    height: 0;
    border-right: 4em solid darken($navbar-color, 5);
    border-bottom: 4em solid $navbar-color;
}


#time, #name {
    background-color: darken($navbar-color, 5);
}

/*
nav a:hover {
    background-color: #DD0000;
} */

main {
    padding-top: 3.5rem;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    section {
        display: flex;
        justify-content: space-around;
    }
}

.boxcontainer {
    margin: 28px 0;
    min-height: 250px;
}

.box {
    display: block;
    height: calc(50vh - 8 * 14px);
    // background-color: rgb(40, 40, 220);
    // background-color: rgb(200, 200, 200);
    background-color: $box-color;
    width: calc(100% - 6 * 14px);
    max-width: 325px;
    padding: 14px;
    border-radius: 1.5 * 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    min-height: 250px;

    h2 {
        text-align: center;
        font-size: 1.25rem;
    }
}

.boxcontent {
    width: 100%;
    height: calc(100% - 2rem);
    margin: 1rem 0 0;
    margin-top: 0.5rem;
    overflow: auto;
    // border-top: 1px solid rgba(0, 0, 0, 0.5);
    &.schema {
        h3 {
            margin-top: 10px;
            font-size: 1rem;
            padding-left: 5px;
            padding-bottom: 3px;

            &:first-child {
                margin-top: 3px;
            }
        }
    }
}


table.newstable {
    width: 100%;

    tbody {
        width: 100%;

        tr {
            width: 100%;

            th, td {
            display: block;
            text-align: left;
            // background: black;
            padding: 0 0.2rem;
            border: 1px solid rgba(0, 0, 0, 0.1);
            width: calc(100% - 0.5rem);


            }

            th {
                margin-top: 0.2rem;
                padding-top: 0.2rem;
                font-weight: bold;
                padding-bottom: 2px;
                font-size: 1.1em;
                border-bottom: none;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }

            td {
                border-top: none;
                padding-bottom: 0.2rem;
                // border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                // margin-bottom: 0.2rem;

                &:last-child {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                }

                &:not(:last-child) {
                    border-bottom: none;
                }

                display: flex;
                justify-content: space-between;
            }

            &:nth-child(2n) {
                th, td {
                    background-color: #F0F0F0;

                }
            }

            &:nth-child(2n + 1) {
                th, td {
                    background-color: #F8F8F8;

                }
            }

        }

        // &:first-child :first-child {
        //     border-top: 1px solid rgba(0, 0, 0, 0.5);
        //     padding-top: 0.2rem;
        // }

    }
}

.box-bottom {
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: relative;
    bottom: .9rem;
    a {
        width: fit-content;
        background-color: white;
        padding: 0.5rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        font-size: 1rem;
        color: rgb(100, 100, 200);


    }
}




.box2 {
    display: block;
    height: calc(50vh - 8 * 14px);
    // background-color: rgb(40, 40, 220);
    // background-color: rgb(200, 200, 200);
    background-color: $box-color;
    width: calc(100% - 6 * 14px);
    max-width: 325px + 2*14px;
    padding: 14px 0;
    border-radius: 1.5 * 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    min-height: 250px;

    h2 {
        text-align: center;
        font-size: 1.25rem;
    }
}


.boxcontent2 {
    width: 100%;
    height: calc(100% - 2.5rem);
    // margin: 1rem 0;

    margin-top: 0.5rem;
    overflow: auto;
    // border-top: 1px solid rgba(0, 0, 0, 0.5);
    &.schema {
        h3 {
            margin-top: 10px;
            font-size: 1rem;
            padding-left: 5px + 14px;
            // padding-bottom: 3px;

            &:first-child {
                margin-top: 3px;
            }
        }
    }
}

div.newslist, div.assignment-list {
    div {
        margin: 0.5rem 1rem;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        padding: 6px;
        div {
            box-shadow: none;
            margin: 0;
            border-radius: 0;
            padding: 0;
        }

        div.list-item-content {
            div.list-item-content-row {
                padding-top: 4px;
                display: flex;
                justify-content: space-between;
            }
        }

       /*
        &:nth-child(2n +1) {
            background-color: #FDFDFD;
        }

        &:nth-child(2n) {
        background-color: #F8F8F8;
        } */
        h4 {
            font-size: 1rem;
            font-weight: bold;
            padding-bottom: 3px;
        }

        p {
            font-size: 0.85rem;
        }
    }
}

div.uppgifter {
    h3 {
        padding-left: 1.25rem;
        font-size: 1rem;

    }
}

#hiddenArrow {
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    justify-content: center;
    align-content: center;
    background-color: #636167;
    border-radius: 4px;

    display: none;
}

@media (max-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    #hiddenArrow {
        display: flex;
    }

    .topbar ul li.narrowGone, .narrowGone {
        display: none;
    }

    .topbar ul #time {
        display: inline;
    }

    #triangle2 {
        border-bottom: 4em solid transparent;
    }

    @media (min-height: 750px) {
        body {
            font-size: 18px;
        }
    }
}

@media (max-width: 750px) {
    main {
        grid-template-columns: 1fr;
    }


}

@media (max-width: 600px) {
    nav a {
        padding: 2em 1em;
    }

    .topbar ul #time {
        display: none;
    }
}